// Colors

$blue: #003AFF;
$white: #fff;
$gray: #C6BDBD;
$black: #0B0B0B;
$lightperiwinkle: #C1CFFF;

// Fonts
$general-extralight: 'GeneralSans-Extralight', sans-serif;
$general-extralight-italic: 'GeneralSans-ExtralightItalic', sans-serif;
$general-light: 'GeneralSans-Light', sans-serif;
$general-light-italic: 'GeneralSans-LightItalic', sans-serif;
$general-regular: 'GeneralSans-Regular', sans-serif;
$general-italic: 'GeneralSans-Italic', sans-serif;
$general-medium: 'GeneralSans-Medium', sans-serif;
$general-medium-italic: 'GeneralSans-MediumItalic', sans-serif;
$general-semibold: 'GeneralSans-Semibold', sans-serif;
$general-semibold-italic: 'GeneralSans-SemiboldItalic', sans-serif;
$general-bold: 'GeneralSans-Bold', sans-serif;
$general-bold-italic: 'GeneralSans-BoldItalic', sans-serif;
$general-variable: 'GeneralSans-Variable', sans-serif;
$general-variable-italic: 'GeneralSans-VariableItalic', sans-serif;

$extralight: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$variable: 200 700;